In [1]:
load_ext sql

In [7]:
%%sql 
mysql://test:newpassword@localhost:3306/analysis

In [10]:
%%sql
select * from international_deb limit 5;

 * mysql://test:***@localhost:3306/analysis
   mysql://test:***@localhost:3306/hari
5 rows affected.

[('Afghanistan', 'AFG', 'Disbursements on external debt, long-term (DIS, current US$)', 'DT.DIS.DLXF.CD', 72894454),
 ('Afghanistan', 'AFG', 'Interest payments on external debt, long-term (INT, current US$)', 'DT.INT.DLXF.CD', 53239440),
 ('Afghanistan', 'AFG', 'PPG, bilateral (AMT, current US$)', 'DT.AMT.BLAT.CD', 61739337),
 ('Afghanistan', 'AFG', 'PPG, bilateral (DIS, current US$)', 'DT.DIS.BLAT.CD', 49114729),
 ('Afghanistan', 'AFG', 'PPG, bilateral (INT, current US$)', 'DT.INT.BLAT.CD', 39903620)]

# 2. Finding the number of distinct countries

Without a count of unique countries, we will not be able to perform our statistical analyses holistically. In this section, I am going to extract the number of unique countries present in the table.

In [14]:
%%sql
select count(distinct country_name) as distinct_country from international_deb;

 * mysql://test:***@localhost:3306/analysis
   mysql://test:***@localhost:3306/hari
1 rows affected.

[(125,)]

# 3. Finding out the distinct debt indicators

Knowing about these various debt indicators will help us to understand the areas in which a country can possibly be indebted to.

In [17]:
%%sql

select count(distinct indicator_code ) as distinct_indicator_code from international_deb;

 * mysql://test:***@localhost:3306/analysis
   mysql://test:***@localhost:3306/hari
1 rows affected.

[(27,)]

# 4. Totaling the amount of debt owed by the countries

This will give us a sense of how the overall economy of the entire world is holding up.

In [18]:
  %%sql
    select sum(debt) as total_debt from international_deb;

 * mysql://test:***@localhost:3306/analysis
   mysql://test:***@localhost:3306/hari
1 rows affected.

[(Decimal('3073886826194'),)]

Remaining 4 tasks will be updated tomorrow. Today I will update complete sql script which I have done 3 days back.